form {
    display: inline;
}
#newTaskContainer {
    background-color: blueviolet;
    width: auto;
}

#calendar_button {
    background-color: rgb(247, 254, 255);
    height: 35px;
    width: 35px;
    border-radius: 25px;
    transition: 0.3s;
    margin: 0px 7px;

}

#calendar_button:hover {
    background-color: rgb(169, 228, 255);
}

#task_input {
    padding: 10px 50px;
    border-radius: 15px;
    background-color: rgb(247, 254, 255);
    width: 70%;
    font-size: large;
    text-align: center;
    transition: 0.3s;
}

#task_input:hover {
    box-shadow: 2px 2px 5px 1px rgb(169, 228, 255);
}

#task_input:focus {
    outline: none;
}

#task_input:focus::placeholder {
    color: transparent;
}

