html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

input, button {
    border: none;
}

.main {
    background-color: beige;
    height: 100%;
}

.content_header {
    background-color: rgb(226, 187, 187);
    min-height: 40px;
    width: 100%;
}

.content_body {
    background-color: rgb(191, 211, 160);
}

.content_footer {
    padding: 70px 0px;
    background-color: rgb(203, 252, 255);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}

